<div class="wrapper">
  <h1>coherent.work tech challenge</h1>


  <!-- <%= link_to "Sign in with Twitter", "/auth/twitter" %> -->
  <% if current_user %>
    <div id="sign_in_wrapper">
      <p id="sign_in">Signed in as <span><%= current_user.name %></span> </p>
      <%= image_tag current_user.profile_image, class: "profile_image" %>
      <p><%= link_to "Sign out", signout_path, id: "sign_out" %></p>
    </div>

    <div class="twitter_list">
      <p id="list_title">Followers of <%= current_user.name %>:</p>
      <% twitter_client.followers(current_user.twitter_user_name).each do |follower| %>
        <p><%= follower.name %></p>
        <hr>
      <% end %>
    </div>

  <% else %>

    <%= link_to "/auth/twitter", id: "link_button" do %>
      <i class="fa fa-twitter fa-3x"></i>
    <% end %>
    <p class="date">Click the twitter icon to sign in and view followers</p>

  <% end %>
</div>
